/* :root {
  background: white;
}

* {
  color: black;
}

h1 {
  background: blue;
}

p.green {
  background: green;
}

#blue {
  color: blue;
}

.box p {
  background: red;
}

.box div {
  background: green;
}

.brown {
  background-color: brown;
  color: white;
}

ul > li {
  background-color: red;
}

.header-button + span {
  background-color: red;
}

.susid ~ p {
  background-color: blue;
  color: white;
}

#bread,
.salo {
  background-color: yellow;
}

.first-task ul li:first-child {
  color: white;
}

.second-task ul li:first-child {
  color: yellow;
}

.third-task ul:last-child li:first-child {
  background-color: yellow;
}

.four-task li:last-child {
  background-color: yellow;
}

.five-task ul:last-child li:last-child {
  color: white;
}

.only-child-task div:only-child {
  color: red;
}

.seven-task span:first-of-type {
  background-color: red;
}

.eight-task p:last-of-type {
  background-color: red;
}

.text-wrapper p:only-of-type {
  background-color: yellow;
}

.lesson-three-task-one a[href] {
  color: white;
}

.lesson-three-task-two li[value] {
  color: yellow;
}

.lesson-three-task-three li[value] {
  background-color: red;
}

.lesson-three-task-four button[class~='primary'] {
  background-color: blue;
}

.lesson-three-task-five button[class|='secondary'] {
  background-color: red;
}

.lesson-three-task-six li[class^='b'] {
  color: green;
  background-color: white;
}

.lesson-three-task-seven li[class*='on'] {
  color: green;
  background-color: white;
}

.lesson-three-task-eight span[class$='s'] {
  color: blue;
  background-color: white;
}

.lesson-three-task-nine h2::first-letter {
  color: red;
}

.lesson-three-task-ten::first-line {
  background-color: yellow;
}

.lesson-three-task-eleven input::placeholder {
  background-color: red;
}

.lesson-three-task-twelve li::before {
  content: '➤';
}

.lesson-three-task-thirteen li::after {
  content: '➤';
} */

.lesson-four-task-one:hover {
  background-color: yellow;
  color: red;
}

.lesson-four-task-two .link:hover {
  background-color: green;
}

#lesson-four-task-three a.link:visited {
  color: yellow;
}

.lesson-four-task-four #sidebar a.link:link {
  color: red;
}

.lesson-four-task-five button.btn:active {
  color: blue;
}

.lesson-four-task-six button.btn:focus {
  color: orange;
}

.lesson-four-task-seven #target:target {
  color: white;
  background-color: green;
}

.lesson-four-task-eight #checkbox:checked ~ #target {
  color: white;
  background-color: blue;
}

.lesson-four-task-nine :lang(uk) {
  background-color: blue;
}

.lesson-four-task-ten input:enabled {
  color: red;
  background-color: yellow;
}

.lesson-four-task-eleven input:disabled {
  background-color: yellow;
}

.lesson-four-task-twelve input:read-write {
  background-color: yellow;
}

.lesson-four-task-thirteen input:read-only {
  background-color: yellow;
}

.lesson-four-task-fourteen input:invalid {
  background-color: red;
}

.lesson-four-task-fifteen input:optional {
  background-color: red;
}

.lesson-four-task-sixteen input:out-of-range {
  color: red;
}

.lesson-four-task-seventeen input:in-range {
  color: red;
}

.lesson-four-task-eighteen input:placeholder-shown {
  background-color: red;
}

.lesson-four-task-nineteen button:focus-within {
  color: white;
  background-color: yellow;
}

.lesson-four-task-twenty input:invalid {
  background-color: red;
}
